<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>GGEZ</title>
    </head>
    <body>

        <form>
            <div class="question" th:each = "question: ${chapterTest.questionsAsList()}" th:switch="${question.class.name}">
                <div class="question-sentence" th:text = "${question.getQuestionSentence()}" />

                <div class="choices" th:case = "'com.javaED.model.question.MultipleChoice'" >
                    <th:block th:each = "choice : ${question.getChoices()}">
                        <input type="radio" th:value="${choice}" th:name="${question.getId()}">
                        <span th:text="${choice}"/>
                    </th:block>
                </div>

                <div class="choices" th:case = "'com.javaED.model.question.TrueOrFalse'">
                    <input type="radio" value="true" th:name="${question.getId()}">
                    <span>True</span>
                    <input type="radio" value="false" th:name="${question.getId()}">
                    <span>False</span>
                </div>

            </div>
<!--            <input type="text" name="name" value="UOO">-->
<!--            <input type="text" name="name" value="marry">-->
<!--            <input type="text" name="name" value="george">-->
            <button type="button" onclick=sendTest()>Save</button>
        </form>

        <script th:src = "@{/javascript/chapterTest.js}">

        </script>
    </body>
</html>