:root {
    --rocket-red: rgb(255, 79, 25);
    --error-red: rgba(255, 0, 0, 0.5);
    --success-green: rgba(0, 255, 0, 0.5);
    --rocket-yellow: rgb(255, 210, 0);
    --galaxy-blue: rgb(28, 27, 41);
    --logo-yellow: rgb(252, 205, 30);
    --hologram-color: rgba(26, 183, 211, 0.1);
}

body {
    background: var(--galaxy-blue);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;

    font-family: 'Courier New', Courier, monospace;
}